main {
    --size: 62px;
    --color1: #562e01;
    --color2: #4e2a00;
    --grad: #0000 45%, var(--color1) 46% 54%, #0000 55%;
    background:
        linear-gradient(60deg, var(--grad)),
        linear-gradient(-60deg, var(--grad)) var(--color2);
    background-size: var(--size) calc(tan(60deg)*var(--size));
    
    color: var(--menu-text);
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: var(--sat) var(--sar) var(--sab) var(--sal);
    text-align: center;

    button {
        align-self: center;
        background-color: var(--section-text);
        border: none;
        border-radius: 8px;
        color: var(--menu-text);
        font-weight: bold;
        padding: 10px;
        width: 70%;

        &.inverted {
            background-color: var(--menu-text);
            color: var(--section-text);
        }
    }

    span {
        color: var(--menu-text);
    }

    .inverted {
        margin-bottom: 20px;
    }

    #topbox {
        height: 50%;
        padding: 24px;
    }

    #bottombox {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 24px;
    }

    #title {
        font-family: "TitleFont", cursive;
        font-size: 120px;
        font-weight: 400;
        margin: 20px;
    }
}
