html {
    background-color: black;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

#blur {
    backdrop-filter: blur(5px);
    height: 100vh;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100vw;
    z-index: 20;
}
